html,body {
 width: 100%;
 margin: 0%;
 background-color: bisque;
}
h1{ color: brown;
text-align: center;
font-size: 45px;
font-style: oblique;
}
a {
    border-right: 2px rgb(255, 255, 255) solid;
    padding-right :5px ;
    text-decoration: none;
    color: rgb(248, 244, 243);
    text-align: center;
}

.header {
    background-color: brown;
    padding: 5px;
    }
a:hover {
 background-color: rgba(83, 21, 21, 0.537);
}
h4 {color: brown;}
#img1 { border: solid 2px brown;
    
}
.card {
  width: 300px;
  text-align: center;
  border: 1px solid brown;
  
}
#content { 
background-color: brown;
text-align: center;
}

h3 { color: aliceblue;}
input {background-color: rgba(83, 21, 21, 0.537);
border-color: rgba(83, 21, 21, 0.537);
color: rgb(248, 247, 243);}